<div class="loading-overlay-container" ng-controller="LocationPasswordCtrl">
	<loading-overlay active="showLoading"></loading-overlay>
	<div class="alert alert-info location-password-notification">
  		{{ notificationMsg }}
	</div>
	<div class="panel panel-info location-password-panel">
		<div class="panel-heading">{{ headerMsg }}</div>
		<div class="panel-body location-password-content">{{ contentMsg1 }}</div>
		<div class="panel-body location-password-content">{{ contentMsg2 }}</div>
		<!-- <div class="panel-footer location-pasword-footer">{{ footerMsg }}{{ currentDateTime | date:'dd MMM yyyy, hh:mm:ss' }}</div> -->
		<div class="panel-footer location-pasword-footer">
			{{ footerMsg }}{{ currentDateTime }} second(s)
		</div>
	</div>

</div>
