<div class="loading-overlay-container" ng-controller="GroupMonitorCtrl">
	<loading-overlay active="showLoading"></loading-overlay>
	<div class="module-container">
		<div class="module-title center-text">
			{{ moduleTitle }}
		</div>
		<ui-select ng-model="monitoringGroup.selected" ng-change="onFiltered()" theme="select2" style="width: 100%;" title="Choose a runner group">
			<ui-select-match placeholder="Select a runner group in the list or search its name...">{{$select.selected.name}}</ui-select-match>
			<ui-select-choices repeat="monitoringGroup in monitoringGroups | angularSelectPropsFilter: {name: $select.search, monitoring_group_id: $select.search}">
				<div ng-bind-html="monitoringGroup.name | highlight: $select.search"></div>
				<small ng-bind-html="'Runner Group ID: ' + monitoringGroup.monitoring_group_id | highlight: $select.search">
				</small>
			</ui-select-choices>
		</ui-select>

		<div class="group-monitor-filter-function">
			<label for="show-available" class="radio-inline">
				<input type="radio" id="show-available" ng-model="availabilityFilter"  ng-value="availableValue" />
				Show Available
			</label>
			<label for="show-not-available" class="radio-inline">
				<input type="radio" id="show-not-available" ng-model="availabilityFilter"  ng-value="!availableValue" />
				Show Unavailable
			</label>
		</div>
			
		<div class="group-monitor-filter-function">
			<button class="btn btn-primary" ng-click="showAll()">Show All</button>				
			<button class="btn btn-primary" ng-click="TEST()">TEST</button>				
		</div>

		<div class="dashboard-container" ng-if="isShowAll">
			<div ng-if="runners.length < 1">No employee assigned here.</div>
			<div class="runner-box" 
				ng-style="(runner.available && runner.currentTasks.length < 1 && borderColorGreen)
							|| (runner.available && runner.currentTasks.length > 0 && borderColorOrange)
							|| (!runner.available && borderColorRed)"
				angular-ripple 
				ng-repeat="runner in runners | filter: dashboardFilter | orderBy: 'issue_runner_name'" 
				ng-click="playSoundClick(); showAssignments(runner)">
				<div class="runner-box-image-container">
					<div class="runner-box-image" ng-style="{ 'background-image': 'url(' + SERVER_HOST 
					+ '/Media/ResizeImage?path=' 
					+ runner.picture_url 
					+ '&targetWidth=256'
					+ '&targetHeight=256'
					+ ')' }">
						<div class="runner-box-image-icon">
							<i class="fa fa-check-circle " style="color:green;" aria-hidden="true" ng-if="runner.available && runner.currentTasks.length < 1"></i>
							<i class="fa fa-clock-o" style="color:orange;" aria-hidden="true" ng-if="runner.available && runner.currentTasks.length > 0"></i>
							<i class="fa fa-times-circle" style="color:red;" aria-hidden="true" ng-if="!runner.available"></i>
						</div>
					</div>
				</div>
				<div class="runner-box-details">
					<div class="runner-box-title" ng-bind-html="runner.issue_runner_name"></div>
					<!-- <div class="runner-box-subtitle">
						Status: <span ng-bind-html="runner.available ? 'Available' : 'On Break'">
						</span>
					</div> -->
					<small class="runner-box-description">
						Current Task(s): <span ng-if="runner.currentTasks.length < 1">No task</span>
						<span ng-repeat="currentTask in runner.currentTasks">{{ currentTask.issue_title }}
							<span ng-show="!$last">, </span>
						</span>
					</small>
				</div>
			</div>
		</div>

		<div class="dashboard-container" ng-if="!isShowAll">
			<div ng-if="runners.length < 1">No employee assigned here.</div>
			<div class="runner-box" 
				ng-style="(runner.available && runner.currentTasks.length < 1 && borderColorGreen)
							|| (runner.available && runner.currentTasks.length > 0 && borderColorOrange)
							|| (!runner.available && borderColorRed)"
				angular-ripple 
				ng-repeat="runner in allRunners | filter: dashboardFilter | orderBy: 'issue_runner_name'" 
				ng-click="playSoundClick(); showAssignments(runner);">
				<div class="runner-box-image-container">
					<div class="runner-box-image" ng-style="{ 'background-image': 'url(' + SERVER_HOST 
					+ '/Media/ResizeImage?path=' 
					+ runner.picture_url 
					+ '&targetWidth=256'
					+ '&targetHeight=256'
					+ ')' }">
						<div class="runner-box-image-icon">
							<i class="fa fa-check-circle " style="color:green;" aria-hidden="true" ng-if="runner.available && runner.currentTasks.length < 1"></i>
							<i class="fa fa-clock-o" style="color:orange;" aria-hidden="true" ng-if="runner.available && runner.currentTasks.length > 0"></i>
							<i class="fa fa-times-circle" style="color:red;" aria-hidden="true" ng-if="!runner.available"></i>
						</div>
					</div>
				</div>
				<div class="runner-box-details">
					<div class="runner-box-title" ng-bind-html="runner.issue_runner_name"></div>
					<!-- <div class="runner-box-subtitle">
						Status: <span ng-bind-html="runner.available ? 'Available' : 'On Break'">
						</span>
					</div> -->			
					<small class="runner-box-description">
						Current Task(s): <span ng-if="runner.currentTasks.length < 1">No task</span>
						<span ng-repeat="currentTask in runner.currentTasks">{{ currentTask.issue_title }}
							<span ng-show="!$last">, </span>
						</span>
					</small>
				</div>
			</div>
		</div>
	</div>
</div>
