<div class="col-md-12" ng-controller="HomeCtrl">
    <div class="module-container">
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigate('light')">
            
            <img src="resources/images/light-blue.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigate('entrance-light')">
            
            <img src="resources/images/light-entrance-blue.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigate('air-conditioner')">
            
            <img src="resources/images/aircon-blue.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigate('fan')">
            
            <img src="resources/images/fan-outline-blue.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigate('television')">
            
            <img src="resources/images/tv-blue.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigate('curtain')">
            
            <img src="resources/images/curtain-blue.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigate('projector')">
            
            <img src="resources/images/projector-blue.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigate('guest-menu')">
            
            <img src="resources/images/in-room-service.png" />
        </div>
    </div>
</div>