<div class="col-md-12" ng-controller="InRoomServiceCtrl">
    <div class="module-container">
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigateUrl('external-url', 'http://119.73.206.46:3001/Home/EmosBYOD?locationId=8223')">
            <img src="resources/images/emos.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); onCallNurse()">
            <img src="resources/images/nurse-call.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigateId('event', 14)">
            <img src="resources/images/cleaning-service.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); toggleDoNotDisturb()">
            <img src="resources/images/dnd.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); onRequestDrinkingWater()">
            <img src="resources/images/water.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); onRequestToiletries()">
            <img src="resources/images/toiletries.png" />
        </div>
        <div class="menu-box" angular-ripple ng-click="playSoundClick(); navigateId('event', 8)">
            <img src="resources/images/feedback.png" />
        </div>
    </div>
</div>